name: deploy terraform
on:
  push:
    branches:
      - main
      - stage
    paths:
      - terraform/**
  pull_request:
    branches:
      - main
    paths:
      - terraform/**

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE }}
  AWS_REGION: us-east-1
  EKS_CLUSTER: vprofile-eks

jobs:
    terraform:
      name: "Apply Terraform code changes"
      runs-on: ubuntu-latest
      defaults:
        run:
          shell: bash
          working-directory: ./terraform
      steps:
        - name: Checkout source code
          uses: actions/checkout@v4

        - name: Setup terraform with specified version on the runner
          uses: hashicorp/setup-terraform@v2
          with: 
            terraform_version: 1.6.3

        - name: terraform init
          id: init
          run: terraform init -backend-config="bucket=$BUCKET_TF_STATE"

        - name: terraform fmt
          id: fmt
          run: terraform fmt -check

        - name: terraform validate
          id: validate
          run: terraform validate
        
        - name: terraform plan
          id: plan
          run: terraform plan -no-color -input=false -out planfile  # removing the red green default behaviour of terraform as github actions may intrepret as some asci code
          continue-on-error: true

        - name: terraform plan status
          if: steps.plan.outcome == 'failure'
          run: exit 1
          
        - name: terraform apply
          id: apply
          if: github.ref == 'refs/heads/main' && github.event_name == 'push'
          run: terraform apply -auto-approve -input=false -parallelism=1 planfile
        
        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.AWS_REGION }}

        - name: Get kube config file
          id: getconfig
          if: steps.apply.outcome == 'success'
          run: aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.EKS_CLUSTER }}

        - name: Install Ingress controller
          if: steps.apply.outcome == 'success' && steps.getconfig.outcome == 'success'
          run: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.3/deploy/static/provider/aws/deploy.yaml

        - name: Inspecting kubeconfig
          if: steps.getconfig.outcome == 'success'
          run: |
            echo "---------"
            echo "1.Confirming File Existence"
            ls -lh ~/.kube/config
            echo "--------"
            echo -e "\n2. The Full Configuration Structure."
            kubectl config view
            echo "--------"
            echo -e "\n3. Proof Of Authentication Method."
            # This extracts just the command block to show you exactly what executes
            # It proves that 'kubectl' is just a wrapper triggering 'aws eks get-token'
            grep -A 10 "exec:" ~/.kube/config || echo "Exec section not found"
            echo "------------------------"

          # Task 1 apply tf, only when pushed on main
          # Task 2 configure aws creds
          # Task 3 get kubeconfig
          # Task 4 apply ingress controller
          # Remeber to Use id and steps.id.outcome 
